html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    background: #000;
}

.masked {
    background: linear-gradient(90deg, red, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  